.icons {
  background: #333333;
  text-align: center;
  font-size: 36px;
  padding: 100px 0;

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.icon-search {
  font-size: 60px;
  color: #5474fd;
}

.icon-linkedin {
  color: #00a2ff;
}

.icon-like {
  font-size: 60px;
  color: #00a2ff;
}

.icon-quote {
  color: #00a2ff;
  font-size: 30px;
}

.icon-check {
  color: #ff6363;
  font-size: 60px;
}
