.spain {
  background: url(../images/spain-1.jpg) no-repeat center;
  padding: 100px 0;

  &__title {
    font-size: 20px;
    margin-bottom: 25px;
  }

  &__text {
    margin-bottom: 30px;
  }
}

.backgr {
  width: 50%;
  padding: 45px 30px;
  background-color: rgba(8, 13, 15, 0.7);
}
