.travel {
  background: url(../images/travel.jpg) no-repeat center;
  padding: 100px 0;

  &__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 90px;
  }

  &__blog {
    display: flex;
  }

  &__img {
    height: 100%;
  }

  &__description {
    background: #333333;
    padding: 50px 60px;
    color: #e8e8e8;
  }

  &__author {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__text {
    line-height: 26px;
  }
}
